streamlit==1.30.0
langchain==0.2.12
langchain_community  # removed the version constraint
langchain_core  # removed the version constraint
langchain_openai==0.1.22
python-dotenv==1.0.1
chromadb==0.4.22
openai==1.40.6
beautifulsoup4==4.12.2
